<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'resume/cdn-cgi/apps/head/V0r6p23hZijRBTiAR4pXNIlfvnU.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'resume/companyLogo/CompanyLogo.png' %}" />
    <meta name="description"
          itemprop="description"
          content="Build A Professional Resume/CV in minutes. Online Resume Builder and Software, The #1 resume & CV builder, trusted by millions of people to land their dream job." />
    <meta name="keywords"
          itemprop="keywords"
          content="how to create a CV, how to compose CV, cv writing examples, CV builder, cv maker, resume template, cv template, CV writing services, jobs, blog, letter, cover letter, vacancy, resume builder, cv builder, job vacancy, jobs vacancy," />
    <meta property="og:image"
          content="https://mycvcreator.com/affiliates/assets/img/resources/C-336x280-VCV-Affiliate-Banner.png" />
    <link rel="alternate" hreflang="en-US" href="/home/" />
    <meta name="format-detection" content="telephone=8210823753">
    <link rel="shortcut icon"
          href="{% static 'resume/companyLogo/CompanyLogo.png' %}"
          type="image/x-icon" />
    <link rel="apple-touch-icon"
          href="{% static 'resume/companyLogo/CompanyLogo.png' %}" />
    <meta name="author" content="shacara" />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification"
          content="_ZvLAivF4DdHo4lySf56TO2xndb_CzEz-BQdDldaAKg" />
    <title>Order Resume</title>
    <link rel="stylesheet"
          href="{% static 'resume/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'resume/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'resume/assets/css/flaticon.css' %}">
    <link rel="stylesheet"
          href="{% static 'resume/assets/css/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'resume/assets/css/meanmenu.css' %}">
    <link rel="stylesheet"
          href="{% static 'resume/assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'resume/assets/css/nice-select.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'resume/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'resume/assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'resume/assets/css/style.css' %}">
    <link rel="stylesheet"
          href="{% static 'resume/assets/css/responsive.css' %}">
    <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7251458623170736"
            crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E2H0663ESC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-E2H0663ESC');
    </script>
    <script id="script">
	var s = document.createElement("script")
	s.src = "https://notix.io/ent/current/enot.min.js"
	s.onload = function (sdk) {
		sdk.startInstall(
			{
				"appId": "1005c4967648ac139ed562b0d306050",
				"loadSettings": true
			}
		)
	}
	document.head.append(s)
    </script>
  </head>
  <body>
    <div class="page-title-area page-title-bg1">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container">
            <div class="page-title-content">
              <h2>Order A Resume Service</h2>
              <ul>
                <li>Home</li>
                <li>Order A Resume Service</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-img2">
        <img src="{% static 'resume/assets/img/shape/2.svg' %}" alt="image">
      </div>
      <div class="shape-img3">
        <img src="{% static 'resume/assets/img/shape/3.svg' %}" alt="image">
      </div>
      <div class="shape-img4">
        <img src="{% static 'resume/assets/img/shape/4.png' %}" alt="image">
      </div>
      <div class="shape-img5">
        <img src="{% static 'resume/assets/img/shape/5.png' %}" alt="image">
      </div>
      <div class="shape-img7">
        <img src="{% static 'resume/assets/img/shape/7.png' %}" alt="image">
      </div>
      <div class="shape-img8">
        <img src="{% static 'resume/assets/img/shape/8.png' %}" alt="image">
      </div>
      <div class="shape-img9">
        <img src="{% static 'resume/assets/img/shape/9.png' %}" alt="image">
      </div>
      <div class="shape-img10">
        <img src="{% static 'resume/asssets/img/shape/10.png' %}" alt="image">
      </div>
    </div>
    <div class="col-lg-12">
      <div class="contact-form" id="theerrormessage">
        <h3>Please fill out the form</h3>
        <p style="color:red;">Zero upfront fees! Experience our services without any pre-order charges.</p>
        <br />
        <form id="product"
              method="POST"
              name="product"
              action="https://script.google.com/macros/s/AKfycbwxoqzZf3UzbsHHmG1GIeNQ0LRdi7a2y7C-xIauIpsltaHbm2OiuM3eRWlVnjKmbhaizQ/exec">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <label for="name">
                  Name: <i class="rednote">*</i>
                </label>
                <input type="text" name="Name" value={{ request.user }} id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Name" />
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <label for="email">
                  Email: <i class="rednote">*</i>
                </label>
                <input type="email" name="Email" value={{ request.user.email }} id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email" />
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <label for="phone_number">
                  Phone Number: <i class="rednote">*</i>
                </label>
                <input type="number"
                       name="Phone_Number"
                       id="phone_number"
                       required
                       data-error="Please enter your number"
                       class="form-control"
                       placeholder="Your Phone Number" />
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <label for="currentcv">
                  Service Type: <i class="rednote">*</i>
                </label>
                <select class="form-control" required name="Servicetype">
                  <option value>Select</option>
                  <option value="Resume Service">Resume Service</option>
                  <option value="Cover letter Service">Cover letter Service</option>
                  <option value="Resume & Cover letter Service">Resume & Cover letter Service</option>
                  <option value="Resume & Website Service">Resume & Website Service</option>
                  <option value="Resume, Cover letter & Website Service">Resume, Cover letter & Website Service</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <label for="currentcv">
                  Current Resume: <span style="color:red;">Submit if you have one</span><i class="rednote"></i>
                </label>
                <input type="file"
                       name="Current_Resume"
                       id="currentcv"
                       placeholder="Current resume" />
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <label for="message">Special Note:</label>
                <textarea name="Special_note"
                          class="form-control"
                          id="special_note"
                          cols="30"
                          rows="8"
                          value="Hello Team, Phyed! I'm excited to see my tailored and impactful resume."
                          placeholder="Hello Team, Phyed! I'm excited to see my tailored and impactful resume."></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <a href= "/home/get_resume/">
                <button type="submit" class="default-btn">Send Order</button>
              </a>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<div class="go-top">
  <i class="fas fa-chevron-up"></i>
</div>
<script data-cfasync="false"
        src="{% static 'resume/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="assets/js/jquery.min.js"></script>
<script src="{% static 'resume/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'resume/assets/js/popper.min.js' %}"></script>
<script src="{% static 'resume/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'resume/assets/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'resume/assets/js/jquery.appear.min.js' %}"></script>
<script src="{% static 'resume/assets/js/odometer.min.js' %}"></script>
<script src="{% static 'resume/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'resume/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'resume/assets/js/parallax.min.js' %}"></script>
<script src="{% static 'resume/assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'resume/assets/js/wow.min.js' %}"></script>
<script src="{% static 'resume/assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'resume/assets/js/form-validator.min.js' %}"></script>
<script src="{% static 'resume/assets/js/contact-form-script.js' %}"></script>
<script src="{% static 'resume/assets/js/sweetalert.min.js' %}"></script>
<script src="{% static 'resume/assets/js/main.js' %}"></script>
<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5eab4b66203e206707f878ee/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		
</script>
<script src="https://apis.google.com/js/api.js"></script>
<script>
    // Load the Google Drive and Sheets APIs
    function loadGoogleApis() {
      gapi.load('client:auth2', initGoogleApis);
    }
  
    // Initialize the Google API client
    function initGoogleApis() {
      gapi.client.init({
        apiKey: 'YOUR_API_KEY', // Replace with your Google API key
        clientId: 'YOUR_CLIENT_ID', // Replace with your Google API client ID
        discoveryDocs: ['https://www.googleapis.com/discovery/v1/apis/drive/v3/rest', 'https://sheets.googleapis.com/$discovery/rest?version=v4'],
        scope: 'https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/spreadsheets',
      }).then(function () {
        console.log('Google API client initialized');
        enableFormSubmission();
      }).catch(function (error) {
        console.error('Error initializing Google API client:', error);
      });
    }
    function enableFormSubmission() {
      const form = document.getElementById('product');
  
      form.addEventListener('submit', function (event) {
        event.preventDefault();
  
        const formData = new FormData(form);
        const resumeFile = formData.get('Current_Resume');
        const coverFile = formData.get('CurrentCover');
        const name = formData.get('Name');
        const email = formData.get('Email');
        const phone = formData.get('')
        // Retrieve other form field values in a similar manner
  
        // Upload resume file to Google Drive
        uploadFileToDrive(resumeFile).then(function (resumeFileId) {
          // Upload cover letter file to Google Drive
          uploadFileToDrive(coverFile).then(function (coverFileId) {
            // Update Google Sheets with the file IDs and form field values
            updateGoogleSheets(resumeFileId, coverFileId, name, email).then(function () {
              console.log('Files uploaded successfully');
              form.reset();
              // Show a success message or perform any other action
            }).catch(function (error) {
              console.error('Error updating Google Sheets:', error);
              // Show an error message or perform any other action
            });
          }).catch(function (error) {
            console.error('Error uploading cover letter file:', error);
            // Show an error message or perform any other action
          });
        }).catch(function (error) {
          console.error('Error uploading resume file:', error);
          // Show an error message or perform any other action
        });
      });
    }
  
    // Upload a file to Google Drive
    function uploadFileToDrive(file) {
      return new Promise(function (resolve, reject) {
        const metadata = {
          name: file.name,
          mimeType: file.type,
        };
  
        const uploadRequest = gapi.client.drive.files.create({
          resource: metadata,
          media: {
            body: file,
          },
        });
  
        uploadRequest.execute(function (response) {
          if (response.id) {
            resolve(response.id);
          } else {
            reject(new Error('Failed to upload file to Google Drive'));
          }
        });
      });
    }// Update Google Sheets with the file IDs and form field values
    function updateGoogleSheets(resumeFileId, coverFileId, name, email) {
      return new Promise(function (resolve, reject) {
        const values = [[resumeFileId, coverFileId, name, email]];
  
        const updateRequest = gapi.client.sheets.spreadsheets.values.update({
          spreadsheetId: 'YOUR_SHEET_ID', // Replace with the ID of your Google Sheet
          range: 'Sheet1!A1:G1', // Replace with the desired range
          valueInputOption: 'USER_ENTERED',
          values: values,
        });
  
        updateRequest.execute(function (response) {
          if (response.updatedCells > 0) {
            resolve();
          } else {
            reject(new Error('Failed to update Google Sheets'));
          }
        });
      });
    }
  
    // Load the Google APIs and enable form submission
    loadGoogleApis();
</script>
</body>
</html>
