<!DOCTYPE html>

<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static 'resume/cdn-cgi/apps/head/V0r6p23hZijRBTiAR4pXNIlfvnU.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'resume/companyLogo/CompanyLogo.png' %}" />
    <meta
      name="description"
      itemprop="description"
      content="Build A Professional Resume/CV in minutes. Online Resume Builder and Software, The #1 resume & CV builder, trusted by millions of people to land their dream job."
    />
    <meta
      name="keywords"
      itemprop="keywords"
      content="how to create a CV, how to compose CV, cv writing examples, CV builder, cv maker, resume template, cv template, CV writing services, jobs, blog, letter, cover letter, vacancy, resume builder, cv builder, job vacancy, jobs vacancy,"
    />
    <meta
      property="og:image"
      content="https://mycvcreator.com/affiliates/assets/img/resources/C-336x280-VCV-Affiliate-Banner.png"
    />
    <link rel="alternate" hreflang="en-US" href="/home/" />
    <meta name="format-detection" content="telephone=09133396579" />
    <link
      rel="shortcut icon"
      href="companyLogo\CompanyLogo.png"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="companyLogo\CompanyLogo.png" />
    <meta name="author" content="shacara" />
    <meta name="robots" content="index, follow" />
    <meta
      name="google-site-verification"
      content="_ZvLAivF4DdHo4lySf56TO2xndb_CzEz-BQdDldaAKg"
    />
    <title>Phyed Resume</title>

    <link rel="stylesheet" href="{% static 'resume/assets/css/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/animate.min.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/odometer.min.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/meanmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'resume/assets/css/magnific-popup.min.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/nice-select.min.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/owl.carousel.min.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/fontawesome.min.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/style.css' %}" />

    <link rel="stylesheet" href="{% static 'resume/assets/css/responsive.css' %}" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7251458623170736"
      crossorigin="anonymous"
    ></script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-E2H0663ESC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-E2H0663ESC");
    </script>
    <script id="script">
      var s = document.createElement("script");
      s.src = "https://notix.io/ent/current/enot.min.js";
      s.onload = function (sdk) {
        sdk.startInstall({
          appId: "1005c4967648ac139ed562b0d306050",
          loadSettings: true,
        });
      };
      document.head.append(s);
    </script>
  </head>

  <body style="margin: auto; width:100%;">
    <div class="navbar-area is-sticky">
      <div class="aronix-responsive-nav">
        <div class="container">
          <div class="aronix-responsive-menu">
            <div class="logo">
              <a href="#home">
                <img
                  src="{% static 'resume/companyLogo/CompanyLogo.jpg' %}"
                  alt="PhyedResume"
                  
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="aronix-nav">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/home/" style="width: 10%; height: 3%;">
              <img
                src="{% static 'resume/companyLogo\phyed-removebg-preview.png' %}"
                alt="PhyedResume"
                />
            </a>
            <div
              class="collapse navbar-collapse mean-menu"
              id="navbarSupportedContent"
            >
              <ul
                class="navbar-nav"
                style="margin-right: 10%; justify-content: space-around"
              >
                <li class="nav-item">
                  <a href="/home/" class="nav-link"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link"
                    >Connection Rooms <i class="fas fa-chevron-down"></i
                  ></a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a href="/chat/The Chill Hangout/" class="nav-link">Chill Zone</a>
                    </li>
            
                    <li class="nav-item">
                      <a href="/chat/Business Builders Corner/" class="nav-link"
                        >Startup Zone<span class="badge badge-danger">Hot</span></a
                      >
                    </li>
                    <li class="nav-item">
                      <a href="/chat/The Contest Connection/" class="nav-link">Competition Zone</a>
                    </li>
                    <li class="nav-item">
                      <a href="/chat/Collaborative Projects Hub/" class="nav-link"
                        >Projects Zone
                        </a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="/jobs/" class="nav-link"
                    >Jobs & Internships
                    <span class="badge badge-danger">Hot</span></a
                  >
                </li>
                <li class="nav-item">
                  <a href="order-resume" class="nav-link"
                    >Learning <span class="badge badge-danger">Hot</span></a
                  >
                </li>

                <li class="nav-item">
                  {% if request.user.is_authenticated %}

                  <div class="btn-box">
                    <a
                      href="/accounts/logout/"
                      class="default-btn"
                      id="signup-btn"
                      >Logout</a
                    >
                  </div>
                  
                  {% else %}
                  <div class="btn-box">
                    <a
                      href="/accounts/login/"
                      class="default-btn"
                      id="signup-btn"
                      >Login</a
                    >
                  </div>
                  {% endif %}
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="hero-banner banner-bg1">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-lg-10 offset-md-1">
                <div >
                  <div class="sub-title" style="text-align: center;  margin-top:10%"> <p><br></p>Welcome to Phyed Resume Builder</div>
                  <h1 style="text-align: center;margin-top: 4% ;">
                    We make your resume with personalized expertise from industry professionals in one-on-one meetings.</h1>
                  <h3 style="text-align: center;margin-top:3%;"></h3>
                  <p style="text-align: center;margin-top:4%;">
                    Create an
                    <span class="cv-sub-title">out of this world</span> resume /
                    CV with experts customized and crafted just for you!
                  </p>
                 <div class="btn-box" style="display: flex; justify-content: center; align-items: center; margin: 2% auto; width: 50%; padding: 2%;">
                  <a
                  href="/home/get_resume/"
                  class="default-btn"
                  >Get Now <span></span></a>
                  </div>
        
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-img1">
        <img
          src="{% static 'resume/assets/img/shape/1.png' %}"
          class="wow fadeInUp"
          data-wow-delay=".9s"
          alt="image"
        />
      </div>
      <div class="shape-img2">
        <img src="{% static 'resume/assets/img/shape/2.svg' %}" alt="image" />
      </div>
      <div class="shape-img3">
        <img src="{% static 'resume/assets/img/shape/3.svg' %}" alt="image" />
      </div>
      <div class="shape-img4">
        <img src="{% static 'resume/assets/img/shape/4.png' %}" alt="image" />
      </div>
      <div class="shape-img5">
        <img src="{% static 'resume/assets/img/shape/5.png' %}" alt="image" />
      </div>
      <div class="shape-img6">
        <img src="{% static 'resume/assets/img/shape/6.png' %}" alt="image" />
      </div>
      <div class="shape-img7">
        <img src="{% static 'resume/assets/img/shape/7.png' %}" alt="image" />
      </div>
      <div class="shape-img8">
        <img src="{% static 'resume/assets/img/shape/8.png' %}" alt="image" />
      </div>
      <div class="shape-img9">
        <img src="{% static 'resume/assets/img/shape/9.png' %}" alt="image" />
      </div>
      <div class="shape-img10">
        <img src="{% static 'resume/assets/img/shape/10.png' %}" alt="image" />
      </div>
    </div>

    
    <!-- <main id="main" class="main">

    
      <section  style="display:flex; align-item:center; justify-content:center">
        <div >
          <div style="text-align:center; margin:0 50px">
    
            <div class="card basic" >
              <div class="card-body" >
                <h5 class="card-title" style="color:red;">Why resume's designed by AI are getting rejected?</h5>
    
                <div>
                  <h6 style="color:#3f51b5;">1. Lack of Human Touch</h6>
                  <p>  AI-generated resumes might lack the personal touch and human element that recruiters look for. They may appear robotic or generic, failing to showcase the candidate's unique personality and skills.</p>
                </div>
    
                <div class="pt-2">
                  <h6 style="color:#3f51b5;">2.  Inaccurate Keyword Optimization</h6>
                  <p>AI may struggle to accurately optimize resumes with relevant keywords tailored to specific job requirements. This can lead to a mismatch between the candidate's skills and the job description, resulting in rejection.</p>
                </div>
    
                <div class="pt-2">
                  <h6 style="color:#3f51b5;">3. Limited Contextual Understanding</h6>
                  <p>AI algorithms may not fully understand the nuanced context of job descriptions, industry requirements, or company cultures. As a result, AI-generated resumes might not effectively highlight relevant experiences and accomplishments.
                  </p>
                </div>
    
              </div>
            </div>

          </div>

        </div>
      </section>
    
    </main> -->
    
  {% comment %} <iframe src="{% static 'resume_faq/index.html' %}" frameborder="0"></iframe> {% endcomment %}



    <section class="featured-services-area ptb-100">
      <div class="container">
        <div class="section-title">
          <span class="sub-title"
            >Order your CV in Minutes and Get it delievered within 24 hours with
            Professional Touch</span
          >
          <h3><b>Our Features.</b></h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-featured-box">
              <div class="icon">
                <img
                  src="{% static 'resume/assets/img/icon/resume.png' %}"
                  alt="Create CV"
                  width="50px;"
                />
              </div>
              <h3>Create Resume / CV</h3>
              <p>Create a professional-quality resume / CV in minutes.</p>
              <a
                href="/home/get_resume/"
                class="default-btn"
                >Create New Resume<span></span
              ></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-featured-box">
              <div class="icon color-facd60">
                <img
                  src="{% static 'resume/assets/img/icon/letter.png' %}"
                  alt="Create Cover Letter"
                  width="50px;"
                />
              </div>
              <h3>Create Cover Letter</h3>
              <p>
                Create an eye-catching cover letter to send with your resume.
              </p>
              <a
                href="/home/get_resume/"
                class="default-btn"
                >Create New Letter<span></span
              ></a>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3"
          >
            <div class="single-featured-box">
              <div class="icon color-1ac0c6">
                <img
                  src="{% static 'resume/assets/img/icon/website.png' %}"
                  alt="Create Resume Website"
                  width="50px;"
                />
              </div>
              <h3>Create Resume Website</h3>
              <p>
                Transform your winning resume into a mobile-friendly website!
              </p>
              <a
                href="/home/get_resume/"
                class="default-btn"
                >Create New Website<span></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    

    <section class="services-area ptb-100 bg-F4F7FC">
      <div class="container">
        <div class="section-title">
          <span class="sub-title">How it Works</span>
          <h2>Build your job-winning resume in three simple steps</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-services-box">
              <div class="icon">
                <i class="flaticon-digital-marketing"></i>
              </div>
              <h3><a href="#">Step 1</a></h3>
              <p>Fill your professional details in Simple Google Form</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-services-box">
              <div class="icon bg-00aeff">
                <i class="flaticon-research"></i>
              </div>
              <h3><a href="#">Step 2</a></h3>
              <p>Get a virtual meeting with Resume Professional</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-services-box">
              <div class="icon bg-f78acb">
                <i class="flaticon-architecture"></i>
              </div>
              <h3><a href="#">Step 3</a></h3>
              <p>
                Get your resume delievered with 24 hours and start applying for
                jobs today!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <div class="container">
      <div class="row">
        <div class="col-12">
          <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7251458623170736"
            crossorigin="anonymous"
          ></script>
          <ins
            class="adsbygoogle"
            style="display: block"
            data-ad-client="ca-pub-7251458623170736"
            data-ad-slot="6615800342"
            data-ad-format="auto"
            data-full-width-responsive="true"
          ></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div> -->

    <section class="why-choose-area ptb-100">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 offset-md-2">
            <div class="why-choose-content">
              <span class="sub-title">Why Choose Us</span>
              <h2>SAY GOODBYE TO BORING RESUMES AND GET ONE PROFESSIONAL</h2>
              <p>
                Order your resume faster with
                <span class="cv-sub-title"
                  >Professional available on click</span
                >
                for portfolios you decide.
              </p>
              <div class="btn-box">
                <a
                  href="/home/get_resume/"
                  class="default-btn"
                  >Get Started <span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
<br>
<br>
<br>
<br>

    {% comment %} <section class="fun-facts-area ptb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="single-fun-facts" style="height: 200px">
              <h3 style="font-size: 35px">
                <span class="odometer" data-count="5664">00</span
                ><span class="sign-icon">+</span>
              </h3>
              <p>Resumes built</p>
              <div class="back-text">P</div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="single-fun-facts" style="height: 200px">
              <h3 style="font-size: 35px">
                <span class="odometer" data-count="5,227">00</span
                ><span class="sign-icon">+</span>
              </h3>
              <p>Cover Letter built</p>
              <div class="back-text">H</div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-fun-facts" style="height: 200px">
              <h3 style="font-size: 35px">
                <span class="odometer" data-count="1,82,846">00</span
                ><span class="sign-icon">+</span>
              </h3>
              <p>Signups</p>
              <div class="back-text">Y</div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="single-fun-facts" style="height: 200px">
              <h3 style="font-size: 35px">
                <span class="odometer" data-count="1,515">00</span
                ><span class="sign-icon">+</span>
              </h3>
              <p>Websites built</p>
              <div class="back-text">E</div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="single-fun-facts" style="height: 200px">
              <h3 style="font-size: 35px">
                <span class="odometer" data-count="1,846">00</span
                ><span class="sign-icon">+</span>
              </h3>
              <p>Professionals Hired</p>
              <div class="back-text">D</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endcomment %}
    <!-- <section class="projects-area ptb-100">
      <div class="container">
        <div class="section-title">
          <span class="sub-title"
            >Why is <span style="color: red">Phyed Resume Builder</span> the
            best resume builder online?</span
          >
          <h2>Professional CV Templates</h2>
        </div>
      </div>
      <div class="container-fluid">
        <div class="projects-slides owl-carousel owl-theme">
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/60fc405d5054a2.45078765.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Graphic</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/60fc405d5054a2.45078765.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/60fb3263bf4e72.80114409.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Coporate</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/60fb3263bf4e72.80114409.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/611d6b44b34e32.90266775.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Social</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/611d6b44b34e32.90266775.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/5fba5bdb345878.34277153.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Tim</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/5fba5bdb345878.34277153.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/611d6e2548a727.08456713.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Mark</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/611d6e2548a727.08456713.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/611d6ae1512536.12186148.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Shelah</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/611d6ae1512536.12186148.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/611d6aa64eb9c1.29351430.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Kim</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/611d6aa64eb9c1.29351430.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/611d6b9c427a26.40702551.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Moon</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/611d6b9c427a26.40702551.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
          <div class="single-projects-box">
            <img
              src="https://mycvcreator.com/administrator/cvtempimages/611d6bcd93d3c3.75307964.jpg"
              alt="image"
            />
            <div class="projects-content">
              <h3><a href="#">Max</a></h3>
              <span class="category">Resume</span>
            </div>
            <div class="plus-icon">
              <a
                href="https://mycvcreator.com/administrator/cvtempimages/611d6bcd93d3c3.75307964.jpg"
                class="popup-btn"
              >
                <span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

   
   

    <!-- <section
      class="solution-area ptb-100 extra-pb jarallax"
      data-jarallax='{"speed": 0.3}'
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-12 offset-md-2">
            <div class="solution-content ">
              <h2>Get Better Solution For Your Resume</h2>
              <div style="padding-left: 15%;">
             
              <p style="margin:10% 0% ;font-size:25px">
                Stand out from the herd of job applicants <br>with our
                professionally - designed resume templates.<br> Get noticed, Get
                hired.
              </p>
              <a href="form.html" class="default-btn"
                >Order a Resume Now<span></span
              ></a>
              </div>
            </div>
          </div>
         
          </div>
        </div>
      </div>
    </section> -->

     <div class="container">
      <div class="row">
        <div class="col-12">
          <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7251458623170736"
            crossorigin="anonymous"
          ></script>
          <ins
            class="adsbygoogle"
            style="display: block"
            data-ad-client="ca-pub-7251458623170736"
            data-ad-slot="6615800342"
            data-ad-format="auto"
            data-full-width-responsive="true"
          ></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>

    <section class="feedback-area ptb-100 bg-color">
      <div class="container">
        <div class="section-title">
          <span class="sub-title">Testimonials</span>
          <h2>Some Lovely Feedback From Our Clients</h2>
        </div>
      </div>
      <div class="feedback-slides owl-carousel owl-theme">
        <div class="single-feedback-item">
          <p>
            I was feeling down about my job search, applying for months without a single interview. It seemed like I would never find a job. Then I discovered Phyed, and they helped create a resume tailored to my skills and experience. Within weeks, I had multiple interviews and got my dream job offer. Thank you, Phyed, for making my dreams come true!
          </p>
          <div class="client-info">
            
            <h3>Vikrant Patil</h3>
            <span></span>
          </div>
        </div>
        <div class="single-feedback-item">
          <p>
            Using AI and template-based resume builders left me uninspired and concerned about my application's impact. Seeking guidance from Phyed was a game-changer. Their personalized approach and expertise helped me create a standout resume. With Phyed's assistance, I felt confident and fearless, leading to multiple interview invitations.
          </p>
          <div class="client-info">
            
            <h3>Ayush Pandey</h3>
            <span></span>
          </div>
        </div>
        <div class="single-feedback-item">
          <p>
            Phyed's personalized CV resume maker alleviated my job search fears by providing expert guidance. With their assistance, I crafted a customized resume that effectively showcased my skills. As a result, I secured multiple interviews, and I am sincerely grateful for Phyed's invaluable support throughout my job search journey.

          </p>
          <div class="client-info">
            
            <h3>Disha Agarwal</h3>
            <span></span>
          </div>
        </div>
        <div class="single-feedback-item">
          <p>
            Phyed's personalized approach revolutionized my resume, leading to shortlisted offers from multiple companies. With their expert guidance and customized strategies, I confidently stood out in the competitive job market, making a lasting impression and opening doors to a brighter career future filled with exciting opportunities.
          </p>
          <div class="client-info">
            
            <h3>Sklain Ahmed</h3>
            <span></span>
          </div>
        </div>
      </div>
    </section>

    

    

    
   

    <section class="footer-area">
      <div class="container">
        
          
            <!-- <div class="single-footer-widget">
              <h3 style="padding:0% 40%;width:100%;font-size: 35px;">Contact Info</h3>
              <ul class="footer-contact-info" style="display: flex; margin:3% 0%;justify-content: space-between;">
                <li>
                  <i class="flaticon-phone-call"></i>
                  <span>Mon to Sun : 24/7</span>
                  <a href="tel:+">UK +</a>
                </li>
                <li>
                  <i class="flaticon-email"></i>
                  <span>Do You Have a Question?</span>
                  <a
                    href="/cdn-cgi/l/email-protection#e5969095958a9791a5889c869386978084918a97cb868a88"
                    ><span
                      class="__cf_email__"
                      data-cfemail="92e1e7e2e2fde0e6d2ffebf1e4f1e0f7f3e6fde0bcf1fdff"
                      >[email&#160;protected]</span
                    ></a
                  >
                </li>
                <li>
                  <i class="flaticon-social-media"></i>
                  <span>Socials Network</span>
                  <ul class="social">
                    <li>
                      <a href="https://twitter.com/mycv_creator"
                        ><i class="fab fa-twitter"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/cvcreator/"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/mycvcreator_official/"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.youtube.com/channel/UCWaIjZhbfkwpOjfvR1yo-wA"
                        ><i class="fab fa-youtube"></i
                      ></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
           -->
          
          
        <div class="copyright-area">
          <div class="row align-items-center">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <p>
                <i class="flaticon-copyright"></i> Copyright 2023 Phyed
                <a style="font-size: 25px; color:green;" href="#" target="_blank"
                  ></a
                >. All rights reserved
              </p>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
              <ul>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="go-top"><i class="fas fa-chevron-up"></i></div>

    <script
      data-cfasync="false"
      src="{% static 'resume/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"
    ></script>
    <script src="{% static 'resume/assets/js/jquery.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/popper.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/jquery.meanmenu.js' %}"></script>

    <script src="{% static 'resume/assets/js/jquery.appear.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/odometer.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/parallax.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/wow.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/form-validator.min.js' %}"></script>

    <script src="{% static 'resume/assets/js/contact-form-script.js' %}"></script>

    <script src="{% static 'resume/assets/js/sweetalert.min.js' %}"></script>
    <script src="{% static 'resume/assets/js/main.js' %}"></script>

    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/5eab4b66203e206707f878ee/default";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
  </body>
</html>
